/*=========================================
            applies to both
==========================================*/
body {
    background-color: #C2ED00
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:	center;
    height: 40px;
    width: auto;
}
h1 {
    font-size: 50px;
    Text-align:	center;
}
.image img {
    width: 55%;

}

/*============================
    The route Link Boxes
============================*/

.box {
	border:1px black solid;
    text-align:	center;
    color : #000000;
	text-decoration: none;
	background-color: white;
}

H2:hover {
   color: blue;
}

}
.menu {
	background-color: white;
	color: blue;
    text-align:	center;
    height: auto;
    width: auto;
	}
.map {
    width: inherit;
    height: inherit;

}

/*=========================================
            desktop code
==========================================*/

@media (min-width: 600px) {
    h2 {
        color: black;
        Text-align:	center;
        font-size: 40px;
        border: none;
    }

}
/*=========================================
            mobile code
==========================================*/
@media (max-width: 599px) {
    h2 {
        color: black;
        Text-align:	center;
        font-size: 30px;
        border: none;
    }

}


